


body {
    margin: 0px;
}

header {
    position: fixed;
    /* height: 2rem; */
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #404040;
    padding: 1rem;
}

header a {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

header a:hover {
    background-color: #E0E0E0;
}

.top_content {
    /* background-image: url("img/Background1.png"); */
    background-size: cover;
    background-position: bottom;
    padding-top: 4rem;
    height: 40rem;
    font-family: sans-serif;
    color: white;
}

.top_content h1 {
    font-size: 3rem;
    text-shadow: 0px 0px 2px #000000;
    margin-top: 0;
    padding: 20px;
    text-align: center;
}

.top_content p {
    color: #FFD060;
    padding: 10px 100px;
    font-size: 1.5rem;
    text-shadow: 0px 0px 2px #000000;
}

.top_content img {
    margin-left: 120px;
    max-height: 14rem;
}

#mcedit_image {
    background-image: url("img/mcedit.png");
}

#school_image {
    background-image: url("img/school.png");
}

#index_image {
    background-color: #161B24;
    height: 35rem;
}

#lang_panel {
    
}

.main_content {
    font-family: sans-serif;
    padding: 4rem 20px;
    min-height: 20rem;
}

.main_content details {
    border: 2px solid #D0D0D0;
    padding: 1rem;
    margin: 1rem;
}

.main_content summary {
    font-size: 1.5rem;
}

.github_link {
    float: right;
}

#aboutlink {
    float: right;
    margin: 0 50px 0 0;
    padding: 0;
}

footer {
    color: #808080;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-top: 2px solid #D0D0D0;
    padding: 1rem;
}
