
html,body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 3px solid #D0D0D0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.header_content {
    width: 90rem;
    margin: 0 1rem;
}

header a {
    float: left;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #161B24;
}

header a:hover {
    background-color: #E0E0E0;
}

.top_container {
    background-size: cover;
    background-position: bottom;
    background-image: url("img/Background1.png");
    padding-top: 4rem;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
}

.top_content {
    /* background-image: url("img/Background1.png"); */
    font-family: sans-serif;
    color: white;
    width: 100%;
    max-width: 90rem;
    min-height: 25rem;
}

h1 {
    font-size: 3rem;
    text-shadow: 0px 0px 2px #000000;
    margin: 0;
    padding: 2rem;
    text-align: center;
}

.top_content p {
    color: #ffffff; /*#FFD060;*/
    padding: 0;
    margin: 1rem 100px;
    font-size: 1.5rem;
    text-shadow: 0px 0px 2px #000000;
}

.top_content strong {
    color: #FFD060;
    /* font-weight: normal; */
}

.hl_link {
    /* border: 2px solid #C0C0C0; */
    border-radius: 3px;
    background-color: #F0F0F0;
}

#home_image {
    background-image: url("img/gh_blur.png");
    /* height: 34rem; */
}

#mcedit_image {
    background-image: url("img/mcedit_blur.png");
}

#school_image {
    background-image: url("img/school_blur.png");
}

#index_image {
    background-color: #161B24;
    /* height: calc(100% - 4rem); */
    min-height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

#game_design_image {
    background-image: url("img/game_design.png");
}

#about_image {
    background-image: url("img/about_orange.png");
}

#about_image h1 {
    font-size: 5rem;
    padding-top: 10rem;
}

#lang_panel {
    text-align: center;
    padding: 0;
    margin: 0;
}

#lang_panel img {
    vertical-align: bottom;
    padding: 0;
    padding-bottom: 5%;
    margin: 0;
    width: 38%;
}

#lang_panel a {
    margin: 2%;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.main_content {
    bottom: 0;
    padding: 4rem 100px;
    padding-top: 4rem;
    padding-bottom: 4rem;

    min-height: 20rem;
    width: 100%;
    max-width: 90rem;

    font-family: sans-serif;
    font-size: 1.2rem;
}

details {
    border-left: 3px solid black;
    padding: 1rem;
    margin: 2rem 0;
}

.main_content summary {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.main_content h2 {
    font-size: 2.5rem;
}

.github_link {
    float: right;
}

#aboutlink {
    float: right;
    padding: 0.5rem;
    margin: 0.5rem;
}

.container {
    margin: 0;
    padding: 0;
    min-height: calc(100% - 4rem);
}

.section {
    margin-bottom: 6rem;
}

figure {
    text-align: center;
    padding: 1rem;
}

figcaption {
    color: #808080;
    font-style: italic;
    padding: 1rem;
}

figure img {
    width: 960px;
    max-width: 100%;
}

#portrait_section {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2rem;
    margin: 0;
    background-color: #F5F8E0;
}

#portrait_text {
    margin-top: 2rem;
}

#portrait {
    margin: 0 0 0 4rem;
    padding: 0;
}

#portrait img {
    width: 477px;
}

.figure_right {
    text-align: right;
}

.figure_right img {
    width: 480px;
}

.figure_left {
    text-align: left;
}

.figure_left img {
    width: 480px;
}

.thumbnail_container {
    height: 13rem;
}

.thumbnail {
    position: absolute;
    margin: 0px;
    border-left: 0 solid black;
}

.thumbnail summary::marker {
  color: transparent;
}

.thumbnail img {
    height: 10rem;
    width: auto;
    max-width: 90%;
    border: 5px solid #C0C0C0;
    border-radius: 3px;
}

 .thumbnail[open] img {
    height: auto;
    width: auto;
}

#mc_background {
    background-image: url("img/minecraft_cut.png");
    background-size: cover;
    background-position: top;

    font-family: sans-serif;
    text-shadow: 0px 0px 2px #000000;
    color: white;

    min-height: 35rem;
    padding: 0 100px;
}

#mc_background h2 {
    font-size: 2.5rem;
    padding-top: calc(5% + 2rem);
    padding-bottom: 15rem;
    max-width: 90rem;
    width: 100%;
    margin: auto;
}

#mc_background p {
    font-size: 1.5rem;
    max-width: 90rem;
    margin: auto;
}

#mc_container {
    /* background-color: #404040; */
}

footer {
    color: #808080;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-top: 3px solid #D0D0D0;
    padding: 1rem 0;
}

.lang_select {
    margin: 0 1%;
}

footer img {
    height: 1rem;
}
